@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-section d-flex align-items-center justify-content-center text-center">
    <div class="container-fluid">

        <span class="badge-custom mb-3">DESCUBRE LO LOCAL</span>

        <h1 class="hero-title">
            Descubre lo mejor <br>
            de tu <span class="text-orange">distrito</span>
        </h1>

        <p class="hero-subtitle">
            Conectamos el corazón de los negocios peruanos con la comunidad.
            Encuentra desde la mejor gastronomía hasta servicios especializados cerca de ti.
        </p>

        <div class="search-box mx-auto mt-4">
            <input type="text" placeholder="¿Qué estás buscando?" class="input-search">
            <input type="text" placeholder="Distrito" class="input-location">
            <button class="btn-search">Buscar →</button>
        </div>

    </div>
</section>